@model Superheroes.Models.Superhero

@{
    ViewBag.Title = "Index";
}

<h2>Suit Up:</h2>
<ul>
    <li>@Html.ActionLink("Create", "Create", "Superhero")</li>
    <li>@Html.ActionLink("Details", "Details", "Superhero")</li>
    <li>@Html.ActionLink("Edit", "Edit", "Superhero")</li>
    <li>@Html.ActionLink("Delete", "Delete", "Superhero")</li>
</ul>
